body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffcc00;
    padding: 26px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #333;
}

main {
    padding: 20px;
}

nav {
    background-color: black;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

nav ul li {
    float: left; 
    justify-content: space-around;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    background-color: #555;
}
.services {
    max-width: 800px;
    margin: 0 auto;
}

.service-item {
    margin-bottom: 20px;
}

.service-item h3 {
    margin-top: 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-top: 2.2%;
    text-align: center;
}
.b1{
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 10%;
    color: darkmagenta;
    line-height: 1.5em;
}
