body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffcc00;
    padding: 26px;
    text-align: center;
}


header h1 {
    margin: 0;
    color:black;
}
main {
    padding: 20px;
}

.about {
    max-width: 800px;
    margin: 0 auto;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-top: 1.9%;
    text-align: center;
}

nav {
    background-color: black;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

nav ul li {
    float: left; 
    justify-content: space-around;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    background-color: #555;
}
.a1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 30px;
}
.a2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.4em;
    width: 105%;
    word-spacing: 2px;
    bottom: 0;
}